.row
	#wrapper()
		#sidebar(role="navigation")
			ul
				li
					a(ui-sref=".chatroom")
						depboard.sidebar-item Chat Room
				li
					a
						depboard.sidebar-item RealTime Polling
		.col-md-12(ui-view="")
				