div(ng-controller='chat-ctrl')
	.row.chat
		.list
			span.label.label-info Current Room List			
			.accordion
				accordion(close-others="true")
					accordion-group(ng-repeat="room in roomList")
						accordion-heading
							.chat-header
								span {{room.name}}
								span.badge {{room.users.length}}
						ul.list-group
							li.list-group-item(ng-repeat = "user in room.users")
								| {{user.name}}
						//div.label.label-default(ng-repeat = "user in room.users", style="width:100%")
							| {{user}}
						button.btn.btn-primary(ng-click="joinRoom(room.id)")
							| Join
					accordion-group(ng-show="roomList.length == 0")
						accordion-heading
							.chat-header(style="text-align:center;")
								span No room avaiable.

				button.btn.btn-success(ng-click="createRoom()") New Room

		.content
			div.well(ng-repeat="msg in messages")
				span.label.label-default {{msg.sender}}
				hr
				div.alert.alert-info {{msg.content}}

	.row
		.col-md-12
			form.chat-form(ng-submit="msgSubmit()")
				textarea.chat-msg(name="message")
				input.chat-submit(type="submit", value="Send")

