/*@import "compass/reset";*/
/* line 8, ../sass/main.scss */
.test {
  color: black;
  background-color: white; }

/* line 13, ../sass/main.scss */
body {
  padding-top: 50px; }

/* line 17, ../sass/main.scss */
.navbar-lightblue {
  border: none !important;
  -webkit-box-shadow: #79ecf0 0px 5px 10px;
  -moz-box-shadow: #79ecf0 0px 5px 10px;
  box-shadow: #79ecf0 0px 5px 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #e7feff), color-stop(100%, #79ecf0));
  background: -webkit-linear-gradient(top, #ffffff, #e7feff, #79ecf0);
  background: -moz-linear-gradient(top, #ffffff, #e7feff, #79ecf0);
  background: -o-linear-gradient(top, #ffffff, #e7feff, #79ecf0);
  background: linear-gradient(top, #ffffff, #e7feff, #79ecf0); }
  /* line 24, ../sass/main.scss */
  .navbar-lightblue a {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    /* line 28, ../sass/main.scss */
    .navbar-lightblue a:hover {
      background-color: #79ecf0 !important;
      -webkit-box-shadow: #79ecf0 0px 0px 20px;
      -moz-box-shadow: #79ecf0 0px 0px 20px;
      box-shadow: #79ecf0 0px 0px 20px; }
